@model Loteria.Models.DbModels.Nagroda

@{
    ViewBag.Title = "Delete";
}

<style>
    h2 {
        color: darkblue;
        font-family: monospace;
    }

    h4 {
        color: darkblue;
        font-family: monospace;
    }
</style>

<h2>Usuń</h2>

<div>
    <h4>Nagrodę</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nagroda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nagroda)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Wróć do listy", "Index")
        </div>
    }
</div>
