@{
    ViewBag.Title = "Autorki";
}

<style>
    .main {
        background-color: aliceblue;
    }

    .autorki {
        color: darkblue;
        font-family: monospace;
    }
    h2{
        color:darkblue;
    }
</style>
<main aria-labelledby="title" class="main">
    <h2 id="title">@ViewBag.Title</h2>

    <address class="autorki">
        Olivia Gil<br />
        Natalia Faltyn<br />
        Informatyka i Ekonometria
    </address>
</main>