@{
    ViewBag.Title = "Home Page";
}

<style>
    .main {
        background-color:aliceblue;
    }
    #title {
        color: darkblue;
        font-family: monospace;
    }
    .image {
        width:80vw;
        height:85vh;
        margin:4%;
        border-radius:10px;
        display:flex;
        justify-content:center;
    }
</style>

<main class="main">
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">LOTERIA</h1>
        <p class="lead" style="font-style:italic">Witamy na naszej stronie! :)</p>
        <p><a href="https://aghedupl-my.sharepoint.com/:w:/g/personal/faltynatalia_student_agh_edu_pl/EYjxNxJhiURFi-34sGRb10cBaU62UB4jVOGfPobEcVuTIA?e=sATHXT" class="btn btn-primary btn-md">Dokumentacja &raquo;</a></p>
    </section>
    <div>
        <img class="image" src="https://www.rd.com/wp-content/uploads/2021/04/GettyImages-1165332891-scaled.jpg" alt="cute raccon"/>
    </div>
</main>