@model Loteria.Models.DbModels.Pytanie

@{
    ViewBag.Title = "Details";
}

<style>
    h2 {
        color: darkblue;
        font-family: monospace;
    }

    h4 {
        color: darkblue;
        font-family: monospace;
    }
</style>

<h2>Szczegóły</h2>

<div>
    <h4>Pytania</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tresc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tresc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.pytanieId }) |
    @Html.ActionLink("Wróć do listy", "Index")
</p>
